torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
PyYAML
easydict
cython
opencv-python
pandas
tqdm
pycocotools
jpeg4py
tb-nightly
tikzplotlib
thop
colorama
lmdb
scipy
visdom
tensorboard
wandb
timm==0.5.4
torchinfo
einops
fvcore
setuptools==59.5.0
